<%= form_for @user ,:html => {:class => "form-horizontal"} do |f| %>
	
	<div class="form-group">
		<%= f.label(:Firstname, :class => "col-sm-2 control-label") %>
		<div class="col-sm-5">
			<%= f.text_field(:firstname, :class => "form-control", :placeholder => "Chuck")%>
		</div>
	</div>

	<div class="form-group">
		<%= f.label(:Lastname, :class => "col-sm-2 control-label") %>
		<div class="col-sm-5">
			<%= f.text_field(:lastname, :class => "form-control", :placeholder => "Norris")%>
		</div>
	</div>

	<div class="form-group">
		<%= f.label(:Email, :class => "col-sm-2 control-label") %>
		<div class="col-sm-5">
			<%= f.text_field(:email, :class => "form-control", :placeholder => "chuck@norris.com")%>
		</div>
	</div>

	<div class="form-group">
		<%= f.label(:Password, :class => "col-sm-2 control-label") %>
		<div class="col-sm-5">
			<%= f.password_field(:password, :class => "form-control", :placeholder => "*********")%>
		</div>
	</div>

	<div class="form-group">
		<%= f.label(:password_confirmation, "Password Confirm", :class => "col-sm-2 control-label") %>
		<div class="col-sm-5">
			<%= f.password_field(:password_confirmation, :class => "form-control", :placeholder => "*********")%>
		</div>
	</div>
	
	<% if @current_user.present? && @current_user.role == 1 %>
		<div class="form-group">
			<%= f.label(:role, :class => "col-sm-2 control-label") %>
			<div class="col-sm-5">
				<%= f.select(:role, [['admin',1],['user',0]], :class => "form-control") %>
			</div>
		</div>
	<% end %>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<%= f.submit(:class => "btn btn-primary ") %>
		</div>
	</div>
<% end %>

