<% @heading = " Hello " +  session['firstname'] %>
<% @statement = "Users are here" %>
<table class="table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th>FirstName</th>
			<th>LastName</th>
			<th>Email</th>
			<th>Role</th>
			<th>Options</th>
		</tr>
	</thead>
	<tbody>
		<% for @user in @users %>
			<tr>
				<td> <%= @user.firstname %>	</td>
				<td> <%= @user.lastname %>	</td>
				<td> <%= @user.email %>	</td>
				<td> <%= @user.role == 1 ? "admin" : "user" %>	</td>
				<td>
					<%= link_to "Edit", edit_user_path(@user), :class => "btn btn-primary" %>
					<%= link_to "Delete", @user, :method => 'delete', data: { confirm: "Are you sure you want to delete? " + @user.firstname + "?" }, :class => "btn btn-danger" %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

