<% if @current_user.present? %>
	<% @heading = " Hello " +  session['firstname'] %>
	<% @statement = "Your posts are here" %>
<% else %>
	<% @heading = "Welcome to the Rails Blog" %>
	<% @statement = "Register to publish your own post" %>
<% end %>
<section class="col col-sm-9">
	<div class="well">
		<div class="formwrapper table-bordered">
			<legend><%= @post.title %></legend>
			<div>
				<span><%=  @post.body %></span>
			</div>
			<div class="pubdate">
				<span>Published: <%= @post.created_at.strftime("%d.%m.%Y") %></span>
			</div>
			<div class="label label-info">
				<span>by <%= @post.author.firstname %> <%= @post.author.lastname %></span>
			</div>
		</div>
	</div>
	<div>
		<% if @current_user.present? %>
			
			<%= link_to "Back", "/allposts" %>
		<% else %>
			<%= link_to "Back", posts_path %>
		<% end %>
	</div>
</section>

<section class="col col-sm-3">
	<%= render partial: 'sidebar', :locals => {:posts => @posts} %>
</section>


